@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding: 8px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px;

    img{
        height: 32px;
        width: auto;
    }
}

.logo:hover{
   opacity: 0.7;
   cursor: pointer;
}

a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

