::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #eaecf1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #6e6e73;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}

.table-container {
    background-color: #ffffff;
    padding: 16px;
    overflow-x: auto;
    white-space: nowrap;
}

.grid-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 12px;
}

.grid-table th,
.grid-table td {
    min-width: 210px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 18px;
    text-align: left;
}

.grid-table td {
    padding: 12px;
}

.grid-table th {
    background-color: #f9fafc;
    font-weight: bold;
}

.first {
    text-align: center !important;
}

.logo-image {
    max-width: 100px;
    max-height: 50px;
}

.grid-table .center-content {
    text-align: left;
}

.pagination {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 48px 16px;
    font-weight: 700;
    font-size: 12px;
}

@media (min-width: 540px) {
    .pagination {
        flex-direction: row;
        justify-content: space-between;

    }
}

button {
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
}

button:hover {
    opacity: 0.7;
    border-radius: 50px;
}

.pager {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
}

#itemsPerPage {
    padding: 4px 12px;
}

.total-results {
    line-height: 27px;
}