<table class="grid-table">
  <thead>
    <tr>
      <ng-container *ngFor="let column of schema">
        <th class="center-content" *ngIf="!column.hide">{{ column.headerName }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of visibleData">
      <ng-container *ngFor="let column of schema">
        <ng-container *ngIf="!column.hide">
          <td class="center-content">
            <ng-container *ngIf="column.isImage">
              <img [src]="item[column.field]" alt="Image" class="logo-image">
            </ng-container>
            <ng-container *ngIf="column.formatDate && item[column.field]">
              {{ item[column.field] | date:'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngIf="!column.formatDate && !column.isImage">
              {{ item[column.field] }}
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <div class="total-results">{{ data.length }} Resultados</div>
  <div class="pager" *ngIf="data.length > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
  <div class="items-per-page" *ngIf="data.length > 1">
    <label for="itemsPerPage">Elementos por página:</label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>    
  </div>
</div>
