<main>
  <app-search-plus (search)="onSearchTextChange($event)"></app-search-plus>

  <div class="table-container">
    <table class="grid-table">
      <thead>
        <tr>
          <ng-container *ngFor="let column of schema; index as i">
            <th [ngClass]="(i === 1) ? 'center-content first' : 'center-content'" *ngIf="!column.hide">{{
              column.headerName }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of visibleData">
          <ng-container *ngFor="let column of schema; index as i">
            <ng-container *ngIf="!column.hide">
              <td [ngClass]="(i === 1) ? 'center-content first' : 'center-content'">
                <ng-container *ngIf="column.isImage">
                  <img [src]="item[column.field]" alt="Image" class="logo-image" (error)="item[column.field] = setDefaultImage(item[column.field])">
                </ng-container>
                <ng-container *ngIf="column.formatDate && item[column.field]">
                  {{ item[column.field] | date:'dd/MM/yyyy' }}
                </ng-container>
                <ng-container *ngIf="!column.formatDate && !column.isImage">
                  {{ item[column.field] }}
                </ng-container>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <section class="pagination">
    <div class="total-results">{{ data.length }} Resultados</div>
    <div class="pager" *ngIf="data.length > 1">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" stroke-width="0.5" height="12px">
          <path
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
        </svg></button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"><svg
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" stroke-width="0.5" height="12px">
          <path
            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
        </svg></button>
    </div>
    <div class="items-per-page" *ngIf="data.length > 1">
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </section>
</main>