.grid-table {
    width: 100%;
    border-collapse: collapse;
}

.grid-table th,
.grid-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.grid-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.logo-image {
    max-width: 100px;
    max-height: 50px;
}

.grid-table .center-content {
    text-align: center;
}



.pagination {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px 5px 5px;
}