<table class="grid-table">
  <thead>
    <tr>
      <ng-container *ngFor="let column of schema">
        <th *ngIf="!column.hide">{{ column.headerName }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of visibleData">
      <ng-container *ngFor="let column of schema">
        <td *ngIf="!column.hide">{{ item[column.field] }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <div class="total-results">{{ data.length }} Resultados</div>
  <div class="pager" *ngIf="data.length > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
  <div class="items-per-page" *ngIf="data.length > 1">
    <label for="itemsPerPage">Elementos por página:</label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>    
  </div>
</div>
